:root {
  --fontHeebo: 'Heebo', sans-serif;
  --fontMontserrat: 'Montserrat', sans-serif;
  --fontPoppins: 'Poppins', sans-serif;

  --gray: #333333;
  --gray2: #4f4f4f;
  --gray3: #828282;
  --gray4: #bdbdbd;
  --gray5: #828282;
  --gray05: #e0e0e0;
  --gray6: #f2f2f2;
  --blue: #2d9cdb;
  --white: #ffffff;
  --green: #27ae60;
  --yellow: #f2c94c;
  --red: #eb5757;
  --colorFooter: #100e1d;
}
html {
  box-sizing: border-box;
  font-size: 62.5%;
  /* 1rem =10px*/
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
* {
  margin: 0;
  padding: 0;
}
h1 {
  font-family: var(--fontHeebo);
  font-size: 2.4rem;
  font-weight: 800;
  color: var(--gray);
}
h2 {
  font-weight: 500;
  font-size: 2.4rem;
  line-height: 3.6rem;
  color: var(--gray);
}
p {
  font-size: 1.2rem;
}
body {
  height: 100vh;
  font-family: var(--fontPoppins);
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 1rem;
}
.header__nav__link {
  display: none;
}
.initialContent__titles {
  margin: 5rem 6rem 0 4rem;
}
.initialContent__titles p {
  font-weight: 500;
  color: var(--blue);
}
.initialContent__img img {
  display: block;
  min-height: 14.5rem;
  width: 95%;
  margin: 0 auto;
  border-radius: 1rem;
}
.initialContent__main {
  margin: 2rem 4rem;
}
.initialContent__main h2 {
  margin-right: 10rem;
}
.initialContent__main p {
  margin: 2.5rem 2rem 3rem 0;
  color: var(--gray2);
}
.form {
  max-width: 29.1rem;
}
.form label {
  font-weight: 500;
  color: var(--gray3);
}
.form input {
  background-color: var(--gray6);
  width: 100%;
  margin-top: 0.5rem;
  padding: 1.5rem;
  border: none;
  border-radius: 1rem;
}
::placeholder {
  color: var(--gray4);
}
.form__btn {
  position: absolute;
  margin-top: 1rem;
  margin-left: -7rem;
  padding: 1rem 2rem;

  background-color: var(--blue);
  color: var(--gray6);
  border: none;
  border-radius: 1rem;
}
.form__btn:hover {
  cursor: pointer;
}
.services--h2 {
  margin: 8rem 6.7rem 8rem 4rem;
}
.services__card {
  width: 34rem;
  height: 42.2rem;
  margin: 0 1.5rem;
  margin-bottom: 3rem;
  padding: 4.5rem 2.5rem;
  border-radius: 2.4rem;
  transition: all 0.5s;
}
.services__card:hover {
  box-shadow: 0px 10px 30px 0px rgba(51, 51, 51, 0.1);
  cursor: pointer;
}
.services__card__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 6.7rem;
  height: 6.7rem;
  margin: 0 20rem 3.5rem 0;
  font-size: 2.5rem;
  border-radius: 1.5rem;
  color: var(--white);
}
.pen {
  background-color: var(--blue);
}
.code {
  background-color: var(--green);
}
.server {
  background-color: var(--red);
}
.services__card h2 {
  font-weight: 700;
}
.services__card p {
  margin-top: 2rem;
  margin-bottom: 3rem;
  font-size: 1.6rem;
  color: var(--gray2);
}
.services__card a {
  padding: 0.9rem 1.3rem;
  background-color: var(--gray05);
  font-size: 1.6rem;
  font-weight: 500;
  color: var(--gray5);
  text-decoration: none;
  border-radius: 1.2rem;
  transition: all 0.5s;
}
.services__card:hover a {
  background-color: var(--blue);
  color: var(--white);
}
.designs h2 {
  margin: 6rem 6rem 4rem 4rem;
}
.designs__content {
  max-width: 54.5rem;
  margin: 0 1rem;
  margin-bottom: 3.5rem;
}
.designs__content__img img {
  width: 100%;
  height: 35rem;
  margin-bottom: 1.2rem;
  border-radius: 2rem;
}
.designs__content p {
  color: var(--gray3);
}
.designs__content h3 {
  font-size: 1.8rem;
  font-weight: 500;
}
.designs a {
  margin-left: 1rem;
  text-decoration: none;
  font-size: 1.8rem;
  font-weight: 500;
  color: var(--blue);
}
.fa-arrow-right {
  margin-left: 1rem;
  font-size: 1.2rem;
}
.team {
  margin: 10rem 1rem;
}
.team h3 {
  font-weight: 500;
  font-size: 1.8rem;
  color: var(--red);
}
.team h2 {
  margin: 1rem 7.5rem 1rem 0;
  font-size: 3.6rem;
  line-height: 5.4rem;
}
.team p {
  margin-right: 8.2rem;
  font-size: 1.6rem;
  font-weight: 400;
  color: var(--gray2);
}
.team__description {
  width: 36rem;
}
.team__img {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.8rem;
  max-width: 35.5rem;
}
.team__img img {
  border-radius: 2.4rem;
}
.person1 {
  width: 14.4rem;
  grid-row: 1/2;
  grid-column: 2/3;
  margin-top: 3.6rem;
}
.person2 {
  width: 16.2rem;
  grid-row: 2/3;
  grid-column: 2/3;
}
.person3 {
  width: 17.8rem;
  grid-row: 1/3;
  margin-top: 10rem;
}
.testimonial {
  margin: 0 1rem;
  margin-bottom: 10rem;
}
.testimonial h2 {
  max-width: 58rem;
}
.testimonial__pers {
  display: flex;
  gap: 3rem;
  margin-top: 2.7rem;
}
.testimonial__pers img {
  width: 8.2rem;
  height: 8.2rem;
  border-radius: 1.2rem;
}
.testimonial__pers__data {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0.2rem 0;
}
.testimonial__pers__data p {
  font-size: 1.8rem;
  font-weight: 500;
  color: var(--gray3);
}
.footer {
  padding: 4rem 4rem 2.4rem 4rem;
  background-color: var(--colorFooter);
}
.footer__nav {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
}
.footer__nav a {
  font-size: 1.8rem;
  font-weight: 400;
  text-decoration: none;
  color: var(--white);
}
.edie {
  margin: 6rem 0;
}
.edie h2 {
  font-family: var(--fontHeebo);
  font-size: 3.6rem;
  font-weight: 800;
  color: var(--gray6);
}
.edie img {
  margin-top: 1rem;
  margin-right: 1rem;
}
.edie img:hover {
  cursor: pointer;
}
.footer__form {
  margin-bottom: 19rem;
}
.footer--p,
a {
  font-size: 1.4rem;
  font-weight: 500;
  text-align: center;
  color: var(--gray6);
}

/* Desktop */
@media (min-width: 768px) {
  h1 {
    font-size: 3.6rem;
  }
  .header {
    margin: 4rem 5rem;
  }
  .header__nav__mobileMenu {
    display: none;
  }
  .header__nav__link,
  .header__nav__link a {
    display: flex;
    gap: 2rem;
    font-size: 2.4rem;
    color: var(--gray);
    text-decoration: none;
  }
  .initialContent__titles {
    width: 54rem;
  }
  .initialContent__titles p {
    font-size: 1.8rem;
  }
  .initialContent__titles h2 {
    font-size: 4.8rem;
    line-height: 7.2rem;
  }
  .initialContent__main h2 {
    width: 36.6rem;
    font-size: 4.8rem;
    line-height: 7.2rem;
  }
  .initialContent__main p {
    width: 36.6rem;
    font-size: 1.8rem;
    line-height: 2.7rem;
  }
  .form label {
    font-size: 1.4rem;
  }
  .form input {
    font-size: 1.8rem;
  }
  .form__btn {
    margin-left: -7.7rem;
    font-size: 1.8rem;
  }
  .services--h2 {
    width: 32rem;
    margin-top: 20rem;
    margin-bottom: 4rem;
    font-size: 3.6rem;
  }
  .services--box {
    display: flex;
    justify-content: center;
    margin: 0 auto;
  }
  .services__card__icon {
    margin-right: 0;
  }
  .designs {
    margin: 0 auto;
  }
  .designs h2 {
    width: 37rem;
    font-size: 3.6rem;
  }
  .designs--grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    justify-content: center;
  }
  .designs--grid h2 {
    margin-left: 1rem;
    grid-column: 1/3;
  }
  .designs__content p {
    font-size: 1.4rem;
  }
  .designs__content h3 {
    font-size: 2.4rem;
  }
  .designs__content:nth-child(2) {
    margin-top: 10rem;
  }
  .designs__content:nth-child(4) {
    margin-top: 10rem;
  }
  .designs__link {
    grid-column: 1/3;
    text-align: right;
    margin-right: 1rem;
  }
  .designs a {
    font-size: 2.4rem;
  }
  .team {
    display: flex;
    justify-content: center;
  }
  .footer--org {
    display: flex;
    justify-content: space-between;
  }
  .edie {
    margin: 0;
  }
}
